.pettycashForm{
padding-bottom: 20px;
}
.banksection{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.requestSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.requestSection footer{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
}

.elDiv {
    border-bottom: 1px solid lightgrey;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.addButton {
    font-size: 2em;
    cursor: pointer;
    color: #1565C0;
    margin: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    /* margin-left: 80%; */
}

.addButton:disabled {
    color: gray;
    cursor: not-allowed;
}

.pettycashForm input[type='number'] {
    min-width: 50px;
    max-width: 100px;
    /* min-width: max-content; */
}

.textInput {
    margin: 10px !important;
}

.pettycashForm .submitButton {
    /* text-align: justify; */
    width: 300px;
}
.pettycashForm .submitButton:hover{
    background-color: #1565C0;
    color: #fff;
}
.pcheader{
    display: flex;
    align-items: center;
}
.pcheader .currencybox{
    margin-left: 20px ;
    text-align: center;
}
/* ////// Home Page styles ///////// */
