.App {
    text-align: center;
    padding-top: 10vh;
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ////// Home Page styles ///////// */
.homepage {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: goldenrod;
}
.homeinput {
    width: 80vw;
    max-width: 400px;
    height: 35px;
    margin: 20px 0;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    color: #1565C0;
}
.homeinput:focus{
outline-color: #1565C0;
color: #141414;
}

.homebutton {
    width: 150px;
    height: auto;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.homebutton[disabled] {
    background-color: grey;
}

.greeting {
    text-align: center;
    font-size: 1.5rem;
}


/* ////////// Form Selection Styles //////////////////// */
.formPage{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    text-align: center;
}
.cardBox{
    width: 90vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-template-rows: auto;
}
.formCard{
    height: 200px;
    margin: 10px;
    color:#f5f5dc;
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 200px;
    transition: all 0.2s ease-in-out;
}

.formCard:hover{
    box-shadow:5px 3px 8px 3px lightgrey;
}
.pettycash{
    background-color: #3325ee;
}
.vehicle{
    background-color: #daa520
}
.perdiem{
    background-color: #fa8072;
}
.formFooter{
    margin-top: 15vh;
    margin-bottom: 20px;
}

